/*

	terrafirma1.0 by nodethirtythree design
	http://www.nodethirtythree.com
        
*/
body {
  background-color: #d0e4fe;
  color: #393939;
  font-family: Helvetica, Arial, FreeSans, sans-serif;
  line-height: 1.4em;
  margin-left: 250px;
  margin-right: 250px;
}

/*Remove the line under links*/
a {
  text-decoration: none;
}

/*this is very important for me*/
pre { 
  margin-left: 3%;
}

h1 { 
  font-size: 1.8em;
}

h3 { 
  font-size: 1.2em; 
}

