/*

	terrafirma1.0 by nodethirtythree design
	http://www.nodethirtythree.com
        
*/
body {
  background-color: #1cd91c;
  font: helvetica,arial,freesans,clean,sans-serif;
  margin-left: 250px;
  margin-right: 250px;
}

/*Remove the line under links*/
a {text-decoration: none;}

/*this is very important for me*/
pre { margin-left: 3% }

h1 { font-size: 150%; }

