/*

	terrafirma1.0 by nodethirtythree design
	http://www.nodethirtythree.com
        
*/
body {
  background-color: #fff;
  color: #393939;
  font-family: Helvetica, Arial, FreeSans, san-serif;
  line-height: 1.4em;
  margin-left: 250px;
  margin-right: 250px;
}

/*Remove the line under links*/
a {
  text-decoration: none;
}

/*this is very important for me*/
pre { 
  margin-left: 3%;
}

h1 { 
  font-size: 1.5em;
}

h3 { 
  font-size: 1em; 
}

