/*

	terrafirma1.0 by nodethirtythree design
	http://www.nodethirtythree.com
        
*/
body {
  background-color: white;
  color: #393939;
  font-family: Helvetica, Arial, FreeSans, sans-serif;
  font-size: 14px;
  line-height: 1;
  margin-left: 100px;
  margin-right: 100px;
}

/*Remove the line under links*/
a {
  text-decoration: none;
}

pre { 
  margin-left: 3%;
}

h1 { 
  font-size: 1.5em;
}

h3 { 
  font-size: 1.2em; 
}

