<html>
<head>
<link rel="icon" type="image/png" href="./images/billi66.png" />
<link rel="stylesheet" type="text/css" href="./css/billie.css" />
<title>BillieHome</title>
</head>

<div class="home">
  <a href="index.html">HOME</a>
</div>

<h1 class="post-title">{{ page.title }}</h1>

{{ content }}

<!-- disqus begin -->

<div id="disqus_thread"></div>
<script type="text/javascript">
  /**
   *     * var disqus_identifier; [Optional but recommended: Define a unique
   *     identifier (e.g. post id or slug) for this thread]
   */
    (function() {
      var dsq = document.createElement('script');
      dsq.type = 'text/javascript';
      dsq.async = true;
      dsq.src = 'http://bilihome.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>

<!-- disqus end -->
</html>
